body {
  overflow: hidden;
}

@font-face {
	font-family: Neue;
	src: url('../fonts/BebasNeue-Regular.ttf');
}

.wrapper {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.items-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 18%;
  height: 60%;
  margin-right: 1%;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 0.6vh;
  box-shadow: 0.6vh 1.0vh 1.5vh rgba(0, 0, 0, 0.3);

  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 20%, rgba(0,164,255,1) 100%);
}

.wrap-img {
  position: absolute;
  height: 100%;
  width: 100%;

  border-radius: 0.6vh;
}

.wrap-title {
  text-align: center;
  text-decoration: underline;
  font-size: 4.0vh;
  font-family: Neue;
  color: #f3f3f3;

  margin: 5%;
  z-index: 2;
}

.arrows-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  z-index: 2;
}

.arrows-container i {
  font-size: 4.2vh;
  color: #f3f3f3;
  transition: 0.2s;
}

.arrows-container i:hover {
  transform: scale(1.25);
  color: #ff235a;
}

.wrap-btn {
  padding: 0.8vh 7vh;
  border-radius: 0.4vh;
  border: none;
  box-shadow: 0vh 0.5vh 0.3vh rgba(0, 0, 0, 0.2);

  font-size: 3.2vh;
  font-family: Neue;
  color: #f3f3f3;

  background-color: #ff235a;

  margin: 5%;
  z-index: 2;
  transition: 0.2s;
}

.wrap-btn:hover {
  transform: scale(1.05);
  background-color: #ff0947;
}

.info-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  
  font-family: Neue;
  font-size: 2.0vh;
  color: #ebebeb;

  border-radius: 0.6vh;
  box-shadow: 0.6vh 1.0vh 1.5vh rgba(0, 0, 0, 0.3);
  margin-top: 5%;
  background-color: rgba(92, 92, 92, 0.90);
}